html {
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  
}
body {
    
    background: rgb(226,246,240);
    background: linear-gradient(50deg, rgba(226,246,240,1) 39%, rgba(162,213,205,1) 96%);
    margin: 0;
    padding: 0;
}
header {
    background: rgb(18,153,209);
background: linear-gradient(50deg, rgba(18,153,209,1) 13%, rgba(0,249,255,1) 62%, rgba(247,245,5,1) 100%);
    color: #0a0101;
    text-align: center;
    padding: 3rem;
    border: 3px solid rgba(31, 209, 238, 0.7);
border-radius: 50px;

}

header h1 {
    font-size: 2rem;
    text-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
color: #000000;
}

#position img {
    position: fixed;
    left: 25px;
    max-width: 200px;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: 6rem;
    box-shadow: 15px 9px 20px rgba(0, 0, 0, 0.4);
}

#hola {
    left: 40px;
    width: 155px;
    position:fixed;
    margin-top: 14rem;
    float: left;
    height: 95px;
    border: 3px solid #fff;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(252, 115, 156) 0%, rgb(139, 102, 241) 100%);
    box-shadow: 15px 9px 20px rgba(0, 0, 0, 0.4);
}

.hola a{
 text-decoration: none;
 color: rgb(22, 21, 21);
}

.hola a:hover {
    background-color: rgb(236, 14, 118);
    color: rgb(247, 245, 245);
}


.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0rem;
}

.container img{
    border: 3px solid #d288f4;
border-radius: 20px;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

section article {
    transition: all 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article {
    box-shadow: 2px  2px  16px rgba(0, 0, 0, 1.5);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 0 2.5rem;
    text-align: left;
    border-bottom: 1px solid #ddd;

}

.estadis {
    padding: 0 16rem;
    text-align: left;
    border-style:initial;
}

nav {
    display: flex;
}
nav ul {
    font-family: "Roboto+Slab", sans-serif;
    font-size: 17px;
    font-weight: bold;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav li {
    display: inline-flex;
}
nav a {
    text-decoration:none;   
    color:rgb(20, 4, 4);    
    padding: 10px;
    width: 150px;
}
nav li:hover {
     background-color: rgb(10, 149, 241);
}

.menu-secundario {
    width:100%;
    margin-top:1rem;
    background-color: #0a0101;
    display: inline-flex;

}

.menu-secundario a {
    
    text-decoration: none;
    color:rgb(248, 246, 246);
    padding: 0 65px;
}

.menu-secundario a:hover{
    background-color: rgb(247, 243, 243);
    color: black;
}


footer {
    margin-top: 3rem;
    text-align: center; 
    font-weight: bold;

}


